/********************************************************
    NAVIGATION    OVERLAY    NAVIGATION    OVERLAY
*********************************************************/

  section#nav-overlay {
    z-index: 99;
    height:100%;
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,1);
    position: fixed;
  }

  .nav-overlay-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-overlay-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav-overlay-logo-div h2 {
    color: #fff;
    margin: 0;
    font-size: 4rem;
  }

  .nav-overlay-ul {
    padding: 0;
    text-align: center;
    list-style: none;
  }

  .nav-overlay-ul li {
    text-transform: uppercase;
    padding: 4% 0;
    font-size: 2rem;
  }




















